{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="alert alert-warning" role="alert">
            {{ 'theme.construction'|trans }}
        </div>
        <h2>Largest Collections</h2>
        <ul class="list-unstyled">
            {% for collection in largestCollections %}
                <li>
                    <a href="{{ path('app_collection_show', {'user': collection.user.id,'collection': collection.id}) }}">{{ collection.name }}
                        ({{ collection.items|length }} items)</a></li>
            {% endfor %}
        </ul>
        <h2>Most Recent Items</h2>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>

                        <th scope="col">Item</th>
                        <th scope="col">Collection</th>
                        <th scope="col">Author</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in recentItems %}
                        <tr>
                            <td>
                                <a href="{{ path('app_item_show', {'user': item.itemCollection.user.id, 'collection': item.itemCollection.id,'item': item.id}) }}">{{ item.name }}</a>
                            </td>
                            <td>{{ item.itemCollection.name }}</td>
                            <td>{{ item.itemCollection.user.email }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <h2>All Tags</h2>
        <ul class="list-unstyled">
            {% for tag in tags %}
                <li><a href="#">{{ tag.name }}</a></li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
