{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="alert alert-warning" role="alert">
            {{ 'theme.construction'|trans }}
        </div>
        <h2>{{ 'theme.largest-collections'|trans }}</h2>
        <ul class="list-unstyled">
            {% for collection in largestCollections %}
                <li>
                    <a href="{{ path('app_collection_show', {'user': collection.user.id,'collection': collection.id}) }}">{{ collection.name }}
                        ({{ collection.items|length }} {{ 'theme.items'|trans }})</a></li>
            {% endfor %}
        </ul>
        <h2>{{ 'theme.most-recent-items'|trans }}</h2>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>

                        <th scope="col">{{ 'theme.item'|trans }}</th>
                        <th scope="col">{{ 'theme.collection'|trans }}</th>
                        <th scope="col">{{ 'theme.author'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in recentItems %}
                        <tr>
                            <td>
                                <a href="{{ path('app_item_show', {'user': item.itemCollection.user.id, 'collection': item.itemCollection.id,'item': item.id}) }}">{{ item.name }}</a>
                            </td>
                            <td>{{ item.itemCollection.name }}</td>
                            <td>{{ item.itemCollection.user.email }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <h2>{{ 'theme.tag-cloud'|trans }}</h2>
        <ul class="list-unstyled">
            {% for item_count,tag  in tags %}
            <li>
                <a href="{{ path('app_tag_items', { id: tag[0].id }) }}" class="tag" style="font-size: {{ 0.8 + tag['item_count'] / 10 }}em;">
                    {{ tag[0].name }} ({{ tag['item_count'] }})
                </a>
                {% endfor %}</li>
        </ul>
    </div>

{% endblock %}
