{% extends 'base.html.twig' %}

{% block title %}Items{% endblock %}

{% block body %}
    <h1>Items</h1>

    <div class="count">
        {{ pagination.getTotalItemCount }}
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Name', 'a.name') }}</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in pagination %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>
                        <a href="{{ path('app_item_show', {'user': user.id, 'collection': collection.id,'item': item.id}) }}">show</a>
                        <a href="{{ path('app_item_edit', {'user': user.id, 'collection': collection.id,'item': item.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_item_new',{'user': user.id, 'collection': collection.id}) }}">Create new</a>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
